*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

header .carousel-item img{
    width:100%;
    height:93vh;
}

header .carousel-item .carousel-caption{
    padding-bottom:15rem;
}

/* eng header section css */

.ab-img{
    min-width:100%;
    max-height:280px;
}
.ab-contant{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    
}
.card img{
    width:100%;
    max-height:210px;
}

.style-offer{
    background: #89cdfa;
}

/* footer section */
.footer-section{
    background: rgb(27, 27, 27);
    color:#fff;
}
.footer-section h2{
    font-size: 22px;
    font-weight:bold;
}
.footer-section p{
    color:rgb(133, 133, 133);
    font-size:15px;
}
.footer-section a{
    text-decoration: none;
    color:rgb(133, 133, 133);
    padding:2px 0px;
    font-size:18px;
}
/* .social-icon a{
    font-size:25px;
} */

.about-scrolly{
position: relative;
}
.scrrol-body{
    overflow-y: scroll;
    height:400px;
}